body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Seções */
#introducao, #fontes-energia, #impactos-ambientais, #quiz {
    padding: 50px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0066cc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
